



























/* .insta, .insta-1, .ok, .ok-1, .vk, .vk-1, .yt, .yt-1{
	background: url(sprites.png) no-repeat;
}

.insta{
	background-position: -92.98611450195312px 0;
	width: 30px;
	height: 30px;
}

.insta-1{
	background-position: -92.97219848632812px -30.986114501953125px ;
	width: 30px;
	height: 30px;
}

.ok{
	background-position: -61.986114501953125px -30.989608764648438px ;
	width: 30px;
	height: 30px;
}

.ok-1{
	background-position: -61.96875px 0;
	width: 30px;
	height: 30px;
}

.vk{
	background-position: -30.986114501953125px -30.989608764648438px ;
	width: 30px;
	height: 30px;
}

.vk-1{
	background-position: -30.986114501953125px 0;
	width: 30px;
	height: 30px;
}

.yt{
	background-position: 0 -30.989608764648438px ;
	width: 30px;
	height: 30px;
}

.yt-1{
	background-position: 0 0;
	width: 30px;
	height: 30px;
}
  */