.Body {
    margin: 0;

    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 1;
    color: #0d3351;
    letter-spacing: 0.05em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

/* INDEPENDENT BLOCKS STARTS */

.Section-Header {
    font-size: 36px;
}

.Menu-Opener {
    position: relative;
    padding-right: 15px;
}

.Menu-Opener::after {
        content: "";
        position: absolute;
        display: block;
        width: 6px;
        height: 6px;
        background-image: linear-gradient(45deg, #0d3351 50%, transparent 50%);
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        right: 0;
        top: 0;
    }

.Support {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Support--Number {
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-bottom: 4px;
    }

.Support--Sign {
        font-size: 10px;
    }

.Button {
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #33c7fd;
    white-space: nowrap;
    outline: none;
    border: none;
    letter-spacing: 1px;
    line-height: 1;
    word-break: break-all;
}

.Button:hover {
        background-color: #13b0e9;
    }

.Button:active {
        background-color: #64d6ff;
    }

.Label_blue,
.Label_red {
    position: absolute;
    display: block;
    right: 46px;
    top: -7px;
}

.Label_blue--Inner, .Label_red--Inner {
        position: relative;
        align-items: center;
        justify-content: center;
        width: 89px;
        min-height: 82px;
    }

.Label_blue--Inner::before,
        .Label_blue--Inner::after,
        .Label_red--Inner::before,
        .Label_red--Inner::after {
            content: "";
            position: absolute;
            display: block;
            bottom: -19px;
            width: 45px;
            height: 19px;
        }

.Label_blue--Inner::before, .Label_red--Inner::before {
            left: 0;
        }

.Label_blue--Inner::after, .Label_red--Inner::after {
            right: 0;
        }

.Label_blue--Content, .Label_red--Content {
        max-height: 120px;
        overflow: hidden;
        font-family: 'Raleway', sans-serif;
        word-break: break-word;
        color: #ffffff;
        line-height: 18px;
        text-transform: uppercase;
        text-align: center;
    }

.Label_blue--Inner {
        background-color: #33c7fd;
    }

.Label_blue--Inner::before {
            background-image: linear-gradient(160deg, #33c7fd 48%, transparent 52%);
        }

.Label_blue--Inner::after {
            background-image: linear-gradient(200deg, #33c7fd 48%, transparent 52%);
        }

.Label_red--Inner {
        background-color: #f20542;
    }

.Label_red--Inner::before {
            background-image: linear-gradient(160deg, #f20542 48%, transparent 52%);
        }

.Label_red--Inner::after {
            background-image: linear-gradient(200deg, #f20542 48%, transparent 52%);
        }

/* INDEPENDENT BLOCKS ENDS */

/* MIXINS START */

.Container {
    max-width: 1140px;
    margin: auto;
}

.Flex {
    display: flex;
}

.Flex-Col {
    display: flex;
    flex-direction: column;
}

.Flex-Wrap {
    display: flex;
    flex-wrap: wrap;
}

.Hide {
    display: none;
}

.Bold {
    font-weight: 700;
}

/* MIXINS ENDS */

/* HEADER STARTS */

.Header {
    background: #f3f3f3 url("../img/header-bg.jpg") top center no-repeat;
    max-height: 647px;
    padding-bottom: 210px;
}

.Header--Content {
        align-items: center;
    }

.Header--Header {
        margin-bottom: 60px;
        align-items: center;
        text-align: center;
    }

.Header--Header_big {
            font-size: 100px;
            line-height: 48px;
            text-transform: uppercase;
            letter-spacing: -0.025em;
            padding-top: 60px;
        }

.Header--Button {
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
    }

.Header--Button::after {
            content: url("../img/dashed-curve.png");
            position: absolute;
            width: 100%;
            top: 64px;
            left: 0;
        }

.Nav {
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 25px;
    
}

.Burger-menu {
    position: relative;
}

.Burger-menu--Button {
        flex-grow: 1;
    }

.Burger-menu--List {
        position: absolute;
        left: 0;
        top: 28px;
        z-index: 1;
        width: 330px;
        background-color: #0d3351;
        padding: 70px 45px 80px 45px;
    }

.Burger-menu--Item {
        color: #ffffff;
        font-size: 18px;
        line-height: 54px;
    }

.Burger-button {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.Burger-button:active {
        box-shadow: none;
    }

.Burger-button--Lines {
        width: 22px;
        height: 16px;
    }

.Burger-button--Lines-1,
    .Burger-button--Lines-2,
    .Burger-button--Lines-3 {
        fill: #0d3351;
    }

.Settings--Item {
    display: flex;
    flex-direction: column;
}

.Settings--Item:not(:last-child) {
    margin-right: 30px;
}

.Login,
.Currency,
.Language {
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    padding-left: 20px;
}

.Login.Menu-Opener::after, .Currency.Menu-Opener::after, .Language.Menu-Opener::after {
            top: 7px;
        }

.Language {
    padding-left: 0px;
}

.Login::before, .Currency::before {
        position: absolute;
        left: 0;
    }

.Login::before {
    content: url("../img/user.svg");
}

.Currency::before {
    content: url("../img/ruble.svg");
    top: 2px;
}

.Logo {
    margin-bottom: 15px;
}

/* HEADER ENDS */

/* MAIN STARTS */

.Main {
    background-color: #f3f3f3;
}

.Content {
    padding-top: 120px;
    padding-bottom: 60px;
    align-items: center;
}

.Content--Header {
        margin-bottom: 15px;
    }

.Content--Sorter {
        margin-bottom: 45px;
        font-family: 'Raleway', sans-serif;
    }

.Content--Button {
        padding-left: 40px;
        padding-right: 40px;
    }

.Content--Button.Menu-Opener::after {
                background-image: linear-gradient(45deg, #ffffff 50%, transparent 50%);
                top: 20px;
                right: 25px;
            }

.Sorting {
    display: inline-block;
    font-style: italic;
    line-height: 24px;
}

.Sorting--Header {
    display: inline-block;
    }

.Sorting--Header.Menu-Opener::after {
            top: 8px;
        }

.Product-Cards {
    margin-bottom: 25px;
    height: 1053px;
    width: 1140px;
    justify-content: space-between;
}

.Product-Card {
    position: relative;
    background-color: #ffffff;
    max-width: 555px;
}

.Product-Card_big {
        max-height: 628px;
        margin-right: 30px;
    }

.Product-Card_average {
        max-height: 405px;
    }

.Product-Card_small {
        max-height: 304px;
    }

.Product-Card--Img {
        display: block;
    }

.Product-Card--Img:nth-child(2) {
            display: none;
        }

.Product-Card--Container {
        padding: 30px 38px 75px 35px;
    }

.Product-Card--Header {
        color: #00a2dd;
        font-size: 18px;
        line-height: 1.5;
        max-height: 50px;
        overflow: hidden;
    }

.Product-Card--Header-Container {
            display: block;
        }

.Product-Card--Header.Menu-Opener::after {
                position: relative;
                display: inline-block;
                background-image: linear-gradient(45deg, #00a2dd 50%, transparent 50%);
                -webkit-transform: rotate(-135deg);
                        transform: rotate(-135deg);
                top: -2px;
            }

.Product-Card--Description_short {
        max-height: 50px;
        overflow: hidden;
        margin-bottom: 22px;
        line-height: 24px;
    }

.Product-Card--Cost {
        position: absolute;
        bottom: 40px;
        font-size: 30px;
    }

.Product-Card--Cost_old {
            font-size: 18px;
            opacity: 0.55;
            text-decoration: line-through;
        }

/* MAIN ENDS */

/* FOOTER STARTS */

.Footer {
    background-color: #ffffff;
}

.Footer--Container {
        padding-top: 30px;
        padding-bottom: 40px;
        font-family: 'Raleway', sans-serif;
    }

.Footer--Nav {
        align-items: flex-start;
        justify-content: space-between;
        margin-right: 150px;
    }

.Footer--Social {
        flex-grow: 1;
    }

.Footer--Social-Appeal {
            display: inline-block;
            margin-bottom: 12px;
        }

.Footer--Contacts .Support {
            margin-bottom: 15px;
        }

.Social {
    width: 150px;
    justify-content: space-between;
}

.Social--Button {
        display: block;
        width: 30px;
        height: 30px;
        background: url("../img/sprites-social.png") no-repeat;
    }

.Social--Button:hover {
            background: url("../img/sprites-social.png") no-repeat;
        }

.Social--Button_vk {
        background-position: -30px 0;
    }

.Social--Button_vk:hover {
            background-position: -30px -30px;
        }

.Social--Button_ok {
        background-position: -61px 0;
    }

.Social--Button_ok:hover {
            background-position: -61px -30px;
        }

.Social--Button_yt {
        background-position: 0 0;
    }

.Social--Button_yt:hover {
            background-position: 0 -30px;
        }

.Social--Button_in {
        background-position: -92px 0;
    }

.Social--Button_in:hover {
            background-position: -92px -30px;
        }

/* FOOTER ENDS */

@media (max-width: 1300px) {
    .Container {
        max-width: 720px;
    }

    .Nav {
        padding-bottom: 85px;
    }

    .Logo {
        width: 70px;
        height: 70px;
    }

    .Section-Header {
        font-size: 26px;
    }

    .Header {
        padding-bottom: 240px;
    }
        .Header--Header {
            margin-bottom: 25px;
        }
            .Header--Header_big {
                font-size: 72px;
                padding-top: 20px;
            }

    .Content {
        padding-top: 65px;
    }
        .Content--Sorter {
            margin-bottom: 35px;
        }

    .Product-Cards {
        width: 720px;
        height: 1041px;
    }

    .Product-Card {
        max-width: 345px;
    }
        .Product-Card_big, .Product-Card_average, .Product-Card_small {
            height: 508px;
            max-height: unset;
        }
            .Product-Card_big .Product-Card--Header-Container {
                width: 165px;
            }
        .Product-Card:first-child {
            order: 1;
        }
        .Product-Card:nth-child(2) {
            order: 2;
        }
        .Product-Card:nth-child(3) {
            order: 3;
        }
        .Product-Card:nth-child(4) {
            order: 4;
        }
        .Product-Card:last-child {
            display: none;
        }
            .Product-Card--Img:first-child {
                display: none;
            }
            .Product-Card--Img:nth-child(2) {
                display: block;
            }
        .Product-Card--Header {
            line-height: normal;
        }
            .Product-Card--Header-Container {
                margin-bottom: 10px
            }
        .Product-Card--Container {
            padding: 30px 30px 60px 30px;
        }
        .Product-Card--Description_short {
            max-height: 72px;
        }
        .Product-Card--Cost {
            bottom: 30px;
        }
        .Footer--Nav {
            margin-right: 75px;
        }
}

@media (max-width: 320px) {
    .Container {
        max-width: 290px;
    }

    .Header {
        position: relative;
        padding-top: 25px;
        padding-bottom: 250px;
    }
        .Header .Nav {
            position: absolute;
            top: 0;
            left: 15px;
        }
            .Header .Nav .Settings {
                display: none;
            }
        .Header--Header {
            margin-bottom: 45px;
            font-size: 20px;
        }
            .Header--Header_big {
                font-size: 50px;
            }

    .Burger-menu--List {
        padding: 40px 15px;
        width: 260px;
    }

    .Content {
        padding-top: 55px;
        padding-bottom: 30px;
    }
        .Content--Sorter {
            margin-bottom: 30px;
        }

    .Product-Cards {
        width: 290px;
        height: unset;
        margin-bottom: unset;
    }

    .Product-Card {
        width: 290px;
        margin-bottom: 20px;
    }
        .Product-Card_big, .Product-Card_average, .Product-Card_small {
            height: 465px;
            max-height: unset;
        }
        .Product-Card:nth-child(2) {
            order: 5;
        }
        .Product-Card--Img {
            max-width: 290px;
        }
        .Product-Card--Container {
            padding: 30px 20px 75px 20px;
        }
        .Product-Card--Header-Container {
            margin-bottom: unset;
        }
        .Product-Card--Cost {
            bottom: 45px;
        }
        .Footer--Container {
            flex-direction: column;
            align-items: center;
        }
        .Footer--Nav {
            display: none;
        }
        .Footer--Social {
            margin-bottom: 20px;
        }
            .Footer--Social-Appeal {
                width: 100%;
                text-align: center;
            }
        .Footer--Contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}