.Body {
    margin: 0;

    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 1;
    color: #0d3351;
    letter-spacing: 1px;
}

.Container {
    width: 1140px;
    margin: auto;
}

.Menu-Opener {
    position: relative;
    padding-right: 15px;
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 7px;
        height: 7px;
        background-image: linear-gradient(45deg, #0d3351 50%, transparent 50%);
        transform: rotate(-45deg);
        right: 0;
        top: 0;
    }
}

.Button {
    padding: 17px 0;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #33c7fd;
    white-space: nowrap;
    border: none;
    letter-spacing: 1px;
    line-height: 1;
    &--:hover {
        background-color: #13b0e9;
    }
    &--:active {
        background-color: #64d6ff;
    }
}

/* MIXINS START */

.Flex {
    display: flex;
}

.Flex-Col {
    display: flex;
    flex-direction: column;
}

.Flex-Wrap {
    display: flex;
    flex-wrap: wrap;
}

.Hide {
    display: none;
}

/* MIXINS ENDS */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* HEADER STARTS */

.Header {
    align-items: center;
    background: url("../img/header-bg.jpg") no-repeat;
    max-height: 647px;
    padding-bottom: 196px;
    &--Button {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.Nav {
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 25px;
}

.Burger-Menu {
    padding: 0;
    background: transparent;
    border: none;
    &:active {
        box-shadow: none;
    }
    &--Lines {
        width: 22px;
        height: 16px;
    }
    &--Lines-1,
    &--Lines-2,
    &--Lines-3 {
        fill: #0d3351;
    }
}

.Settings--Item {
    display: flex;
    flex-direction: column;
}

.Settings--Item:not(:last-child) {
    margin-right: 30px;
}

.Login,
.Currency,
.Language {
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    padding-left: 20px;
    &.Menu-Opener::after {
        top: 5px;
    }
    &--Header {
        text-decoration: none;
        color: inherit;
    }
}

.Language {
    padding-left: 0px;
}

.Support {
    font-family: 'Raleway', sans-serif;
    
    &--Number {
        font-weight: 700;
        text-decoration: none;
        color: inherit;
    }
    &--Sign {
        font-size: 10px;
    }
}

.Logo {
    margin-bottom: 15px;
}

.Main-Header {
    margin-bottom: 58px;
    align-items: center;
    &--Small {
        font-size: 36px;
        margin-bottom: 35px;
    }
    &--Big {
        font-size: 100px;
        text-transform: uppercase;
    }
}

































/* .insta, .insta-1, .ok, .ok-1, .vk, .vk-1, .yt, .yt-1{
	background: url(sprites.png) no-repeat;
}

.insta{
	background-position: -92.98611450195312px 0;
	width: 30px;
	height: 30px;
}

.insta-1{
	background-position: -92.97219848632812px -30.986114501953125px ;
	width: 30px;
	height: 30px;
}

.ok{
	background-position: -61.986114501953125px -30.989608764648438px ;
	width: 30px;
	height: 30px;
}

.ok-1{
	background-position: -61.96875px 0;
	width: 30px;
	height: 30px;
}

.vk{
	background-position: -30.986114501953125px -30.989608764648438px ;
	width: 30px;
	height: 30px;
}

.vk-1{
	background-position: -30.986114501953125px 0;
	width: 30px;
	height: 30px;
}

.yt{
	background-position: 0 -30.989608764648438px ;
	width: 30px;
	height: 30px;
}

.yt-1{
	background-position: 0 0;
	width: 30px;
	height: 30px;
}
  */